# requirements.txt
# Core
PyQt6>=6.4.0
pandas>=2.0.0
numpy>=1.24.0
sqlalchemy>=2.0.0
pymysql>=1.0.0
python-dotenv>=1.0.0
pyyaml>=6.0
joblib>=1.2.0
pathlib

# ML & NLP
xgboost>=1.7.0
shap>=0.42.0
scikit-learn>=1.2.0
pdfplumber>=0.9.0
python-docx>=0.8.6

# Viz
matplotlib>=3.7.0

# Tests
pytest>=7.3.0
